
:root{
    --main-color:#f0f1f3;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    }
    body{
        background: var(--main-color);
    }
    .main{
        height: 100vh;
        background-image: url(Images/showcase-daily-life-activities-some-indigenous-people.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
    
    header{
        height: 70px;
        width: 100%;
        background-color: rgb(234, 185, 27);
        justify-content: space-between;
        display: flex;
        align-items: center;
        position: sticky;
    }
    
    .logo a{
        font-size: 30px;
        margin-left: 20px;
        color: black;
    }
    
    nav ul{
        display: flex; 
    }
    
    nav ul li a{
        color: black;
        margin: 15px;
        font-size: 20px;
    }
    
    nav ul li a:hover{
        color: orange;
        background-color: white;
        padding: 5px 15px 5px 15px;
        border-radius: 30px;
        font-weight: bold;
        transition: 0.5s;
    }
    
    /* .headerButton{
        padding: 10px 5px 10px 5px;
    } */
    
    .headerButton button{
        padding: 5px 30px 5px 30px;
        border-radius: 10px;
        background-color: white;
        border-color: white;
        border: none;
        margin-right: 20px;
    }
    
    .headerButton button a{
        color: rgb(234, 158, 27);
        font-weight: bold;
    }
    
    .headerButton button:hover{
        background: rgb(255, 217, 147);
        transition: 2s;
    }
    
    /* .headerButton button a:hover{
        color: white;
    } */
    
    .main header .headerButton i{
        color: white;
        margin-right: 10px;
    }

    h1{
        font-size: 60px;
    }

    h1::first-letter{
        color: orange;
    }

    .main h1{
        padding: 150px 0 0 70px;
        position: relative;
        color: white;
    }

    /* .main h1:nth-child(){
        color: black;
    } */

    .main p{
        color: white;
        padding: 30px 0 0 70px;
        font-size: 20px;
    }

    .page1 h1{
        text-align: center;
        margin-top: 30px;
    }

    .cardContainer{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 0px;
    }
    
    .card{
        /* height: 700px; */
        width: 300px;
        background-color: white;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        margin: 20px;
    }
        
    .card img{
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
    }
    
    .cardContent{
        padding: 16px;
    }
    
    .cardContent h3{
        font-size: 28px;
        margin-bottom: 8px;
    }
    
    .cardContent p{
        color: #666;
        font-size: 15px;
        line-height: 1.3;
    }
    
    /* .cardContent .readMore{
        display: inline-block;
        padding: 8px 16px;
        background-color: rgb(234, 158, 27);
        text-decoration: none;
        border-radius: 4px;
        margin-top: 16px;
        color: #fff;
    } */